[Desktop Entry]
Name=Code OSS
StartupWMClass=vscode
Comment=Visual Studio Code OSS Edition
GenericName=IDE
Exec=AppRun
Icon=code-oss
Type=Application
Categories=Development;IDE;Debugger;
X-AppImage-Version=1.39.2
