[Desktop Entry]
Name=Code OSS
StartupWMClass=vscode
Comment=Visual Studio Code OSS Edition
GenericName=IDE
Exec=/usr/bin/code-oss
Icon=code-oss
Type=Application
Categories=Development;IDE;Debugger;
X-AppImage-Version=1.48.2
